<!DOCTYPE html>
<section id="hero_2" class="background-image"
    data-background="url(img/slide_hero_2.jpg)">
    <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
        <div class="intro_title">
            <h1>Place your order</h1>
            <div class="bs-wizard row">
                <div class="col-4 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Your details</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="/payment" class="bs-wizard-dot"></a>
                </div>

                <div class="col-4 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Finish!</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>
            </div>
            <!-- End bs-wizard -->
        </div>
        <!-- End intro-title -->
    </div>
    <!-- End opacity-mask-->
</section>
<!-- End Section hero_2 -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Category</a>
                </li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <!-- End position -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-8 add_bottom_15">

                <div class="form_title">
                    <h3><strong><i class="icon-ok"></i></strong>Thank you!</h3>
                </div>
                <div class="step">
                    <p>
                        Congratulations, your subscription was successfully added
                    </p>
                </div>
                <!--End step -->

                <div class="form_title">
                    <h3><strong><i class="icon-tag-1"></i></strong>Booking
                        summary</h3>
                </div>
                <div class="step">
                    <table class="table table-striped confirm">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    Subscription
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Package Name</strong>
                                </td>
                                <td>
                                    {{chargeDetails.packageName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Date</strong>
                                </td>
                                <td>
                                    {{chargeDetails.chargeDate}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Price</strong>
                                </td>
                                <td>
                                    {{chargeDetails.packagePrice}}$
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!--End step -->
            </div>
            <!--End col -->

            <aside class="col-lg-4">
                <div class="box_style_1">
                    <h3 class="inner">Refund Rules</h3>
                    <p>
                        You can refund subsciption if you didn't publish any 
                        property, and before 7 days of subscription starting day.
                    </p>
                    <hr>
                    <a (click)="refund()" class="btn_full_outline"
                        target="_blank">Refund</a>
                </div>
                <div class="box_style_4">
                    <i class="icon_set_1_icon-89"></i>
                    <h4>Have <span>questions?</span></h4>
                    <a href="tel://004542344599" class="phone">+201068053092</a>
                    <small>Monday to Friday 9.00am - 7.30pm</small>
                </div>
            </aside>

        </div>
        <!--End row -->
    </div>
    <!--End container -->
</main>
<!-- End main -->

