<!-- Header================================================== -->
<header id="plain">
  <div id="top_line">
    <div class="container">
      <div class="row">
        <div class="col-6"><i class="icon-phone"></i><strong>+2 015 51932027</strong></div>
        <div class="col-6">
          <ul id="top_links">
            <li *ngIf="isSignInButtonVisible"><a routerLink="/login" class="fa-icon-sign-in" id="access_link">Sign
              in</a></li>
            <li *ngIf="!isSignInButtonVisible && getRole==='USER'">
              <a routerLink="user/profile" class="fa-icon-user" id="profile_link">Profile</a>
            </li>
          </ul>
        </div>
      </div><!-- End row -->
    </div><!-- End container-->
  </div><!-- End top line-->

  <div class="container">
    <div class="row">
      <div class="col-3">
        <div id="logo_home">
          <h1><a routerLink="user/home" title="City tours travel template">City Tours travel template</a></h1>
        </div>
      </div>
      <nav class="col-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close"
           href="javascript:void(0);"><span>Menu mobile</span></a>
        <div class="main-menu">
          <div id="header_menu">
            <img src="assets/img/logo_sticky.png" width="160" height="34" alt="City tours">
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
          <ul style="display: flex; list-style-type: none;">

            <li *ngIf=" !isSignInButtonVisible && getRole==='ADMIN'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/admin/dashboard">
                <i class="icon-home"></i>Dashboard
              </a>
            </li>
            <li *ngIf="!isSignInButtonVisible && getRole==='ADMIN'" routerLinkActive="active">
              <a routerLink="/admin/create-package">
                <i class="icon-money-2"></i>Create Package
              </a>
            </li>
            <li *ngIf="!isSignInButtonVisible && getRole==='ADMIN'" routerLinkActive="active">
              <a routerLink="/admin/add-admin">
                <i class="icon-phone"></i>Add Admin
              </a>
            </li>

            <li *ngIf="!isSignInButtonVisible && getRole==='ADMIN'" routerLinkActive="active">
              <a routerLink="/admin/pending">
                <i class="icon-home-4"></i>Pending Requests
              </a>
            </li>

            <li *ngIf="isSignInButtonVisible || getRole==='USER'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/user/home">
                <i class="icon-home"></i>Home
              </a>
            </li>
            <li *ngIf="isSignInButtonVisible || getRole==='USER'" routerLinkActive="active">
              <a routerLink="/user/property/discovery">
                <i class="icon-home-4"></i>Apartments
              </a>
            </li>
            <li *ngIf="isSignInButtonVisible || getRole==='USER'" routerLinkActive="active">
              <a routerLink="/user/packages">
                <i class="fa-icon-amazon"></i>Packages
              </a>
            </li>
            <li *ngIf="!isSignInButtonVisible && getRole==='USER'" class="submenu">
              <a (click)="hasSubscription()" href="javascript:void(0);"><i class="icon-money-2"></i>Sell</a>
            <li class="submenu">

              <li *ngIf="!isSignInButtonVisible && getRole==='USER'" class="submenu">
                <a routerLink="/user/properties" href="javascript:void(0);"><i class="icon-money-2"></i>MyProperty</a>
              <li class="submenu">

            <!-- <li *ngIf="!isSignInButtonVisible && getRole==='USER'" class="submenu" style="margin-left:30ch; ">
              <a routerLink="user/payment" style="color:#e14d67">
                <i class="icon-heart"></i>AirMak Your Home
              </a>
            </li> -->

            <li *ngIf="!isSignInButtonVisible" class="submenu" style="margin-left: auto; ">
              <img class="rounded-circle " src="assets/img/profile.png" width="30" height="30"/>
              <i class="icon-down-open-mini"></i>
              <ul>
                <li><a href="javascript:void(0);" (click)="logout()">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- End main-menu -->
      </nav>
    </div>
  </div><!-- container -->
</header><!-- End Header -->
