<!-- Header================================================== -->
<header id="plain">
  <div id="top_line">
    <div class="container">
      <div class="row">
        <div class="col-6"><i class="icon-phone"></i><strong>+201552938027</strong></div>
        <div class="col-6">
          <ul id="top_links">
            <li *ngIf="isSignInButtonVisible"><a routerLink="/login" class="fa-icon-sign-in" id="access_link">Sign in</a></li>
            <li *ngIf="!isSignInButtonVisible"><a routerLink="/profile/view-profile" class="fa-icon-user" id="profile_link">Profile</a></li>
          </ul>
        </div>
      </div><!-- End row -->
    </div><!-- End container-->
  </div><!-- End top line-->

  <div class="container">
    <div class="row">
      <div class="col-3">
        <div id="logo_home">
          <h1><a routerLink="/home" title="City tours travel template">City Tours travel template</a></h1>
        </div>
      </div>
      <nav class="col-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close"
           href="javascript:void(0);"><span>Menu mobile</span></a>
        <div class="main-menu">
          <div id="header_menu">
            <img src="assets/img/logo_sticky.png" width="160" height="34" alt="City tours">
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
          <ul style="display: flex; list-style-type: none;">
            <li class="submenu">
              <a routerLink="/home"><i class="icon-home"></i>Home</a>
            <li class="submenu">
            <li class="submenu">
              <a href="javascript:void(0);"><i class="icon-money"></i>Buy</a>
            <li class="submenu">
            <li class="submenu">
              <a href="javascript:void(0);"><i class="icon-money-1"></i>Rent</a>
            <li class="submenu">
            <li class="submenu">
              <a href="javascript:void(0);"><i class="icon-money-2"></i>Sell</a>
            <li class="submenu">
            <li class="submenu">
              <a href="javascript:void(0);"><i class="icon-info"></i>About</a>
            </li>
            <li class="submenu" style="margin-left:30ch; ">
              <a href="javascript:void(0);" style="color:#e14d67"><i class="icon-heart"></i>AirMak Your Home</a>
            </li>
            <li class="submenu" style="margin-left: auto; ">
              <img class="rounded-circle " src="assets/img/profile.png" width="30" height="30"/>
              <i class="icon-down-open-mini"></i>
              <ul>
                <li *ngIf="!isSignInButtonVisible"><a href="javascript:void(0);" (click)="logout()">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- End main-menu -->
      </nav>
    </div>
  </div><!-- container -->
</header><!-- End Header -->
