#card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
  margin-left: 32px;
  margin-right: 32px;
}
.strip_booking:not(:first-child) {
  margin-top: 16px;
}
.empty-list-message {
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
}

.empty-list-message h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
}

.empty-list-message p {
  font-size: 18px;
  color: #777;
}

.pending {
  filter: blur(1px);
  opacity: 0.5;
  pointer-events: none;
}
