<main>
  <div class="margin_60 container">
    <div class="content">
      <div class="divider"></div>

      <div class="row">
        <div class="col-md-12">
          <h4>Add New Apartment</h4>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Property Type</label>
            <select class="form-control" name="property_type" required>
              <option value="">Select...</option>
              <option value="apartment">Apartment</option>
              <option value="room">Room</option>
              <!-- Add more options for property types if needed -->
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description" rows="3" required></textarea>
          </div>
        </div>
      </div>
      <!-- End row -->

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Price</label>
            <input class="form-control" name="price" type="number" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Availability</label>
            <select class="form-control" name="tv" required>
              <option value="">Select...</option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>
        </div>
      </div>
      <!-- End row -->

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Listing Type</label>
            <select class="form-control" name="listing_type" required>
              <option value="">Select...</option>
              <option value="rent">Rent</option>
              <option value="sale">Sale</option>
              <!-- Add more options for listing types if needed -->
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Floor Number</label>
            <input class="form-control" name="floor_no" type="number" required>
          </div>
        </div>
      </div>
      <!-- End row -->

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Wi-Fi</label>
            <select class="form-control" name="wifi" required>
              <option value="">Select...</option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Bedroom Count</label>
            <input class="form-control" name="bedroom_count" type="number" required>
          </div>
        </div>
      </div>
      <!-- End row -->

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Bathroom Count</label>
            <input class="form-control" name="bathroom_count" type="number" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Air Conditioning</label>
            <select class="form-control" name="air_conditioning" required>
              <option value="">Select...</option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>
        </div>
      </div>
      <!-- End row -->

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>TV</label>
            <select class="form-control" name="tv">
              <option value="" required>Select...</option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Property Number</label>
            <input class="form-control" name="property_number" type="number" required>
          </div>
        </div>
      </div>
      <!-- End row -->
      <!-- Divider -->
      <div class="row">
        <div class="col-md-12">
          <div class="divider"></div>
        </div>
      </div>
      <!-- End Divider -->
      <!-- Address Section -->
      <div class="row">
        <div class="col-md-12">
          <h4>Address Details</h4>
        </div>
      </div>

      <!-- Address details -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Street</label>
            <input class="form-control" name="street" type="text" required>
          </div>
          <div class="form-group">
            <label>City</label>
            <input class="form-control" name="city" type="text" required>
          </div>
          <div class="form-group">
            <label>Street Number</label>
            <input class="form-control" name="streetNo" type="number" required>
          </div>
          <div class="form-group">
            <label>Country</label>
            <input class="form-control" name="country" type="text" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Longitude</label>
            <input class="form-control" name="lng" type="number" required>
          </div>
          <div class="form-group">
            <label>Latitude</label>
            <input class="form-control" name="lat" type="number" required>
          </div>
        </div>
      </div>
      <!-- End Address details -->
      <!-- google map -->
      <div id="map"></div>
      <hr>
      <h4>Upload Property Images</h4>
      <div class="form-inline upload_1">
        <div class="form-group">
          <input type="file" name="files[]" id="js-upload-files" multiple required>
          <input type="file" name="files[]" id="js2-upload-files" multiple>
          <input type="file" name="files[]" id="js3-upload-files" multiple>
        </div>
        <!--                    <button type="submit" class="btn_1 green" id="js-upload-submit">Upload file</button>-->
      </div>
      <!-- Drop Zone -->
      <!-- <h5>Or drag and drop files below</h5>
       <div class="upload-drop-zone" id="drop-zone">
           Just drag and drop files here
       </div>
       &lt;!&ndash; Progress Bar &ndash;&gt;
       <div class="progress">
           <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
               <span class="sr-only">60% Complete</span>
           </div>
       </div>
       &lt;!&ndash; Upload Finished &ndash;&gt;
       <div class="js-upload-finished">
           <h5>Processed files</h5>
           <div class="list-group">
               <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
           </div>
       </div>-->
      <!-- End Hidden on mobiles -->
      <hr>
      <button type="submit" class="btn_1 green">Add Apartment</button>
      <section id="section-4"></section>
      <!-- End section 4 -->
    </div>
    <!-- End content -->
  </div>
</main>
