<main>
  <section class="header-video">
    <div id="hero_video">
      <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
        <div id="search">
          <div class="home-page-section">
            <div class="section-heading">
              <h2 style="color: #e14d67;">Discover Your Perfect Home</h2>
              <p>Find homes for sale or rent in your area</p>
            </div>
            <!-- Hover #1 -->
              <div routerLink="/user/property/discovery" class="btn btn-one">
                <span>Start Exploring</span>
              </div>
          </div>
        </div>
      </div>
      <img src="assets/video/paris.gif" alt="Image" class="header-video--media">
    </div>
    <div class="loading-bar" *ngIf="isLoading">
      <!-- Add your loading bar or spinner HTML content here -->
      <!-- For example, you can use a CSS spinner -->
      <div class="spinner"></div>
    </div>
  </section>
</main>
<!-- End main -->

<!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js"></script>

<style>
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}

div[class*=box] {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 { background-color: #FF6766; }
.box-2 { background-color: #3C3C3C; }
.box-3 { background-color: #66A182; }

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

/*
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

</style>
