<main>
  <!--  <img src="assets/img/notgeneric_bg1.jpg" class="img-fluid" alt="Responsive image">-->

  <div class="container-profile">
    <img src="assets/img/notgeneric_bg1.jpg" alt="Snow" style="width:100%;">
    <div class="centered">
      <h1 class="h1-profile text-white display-1">PROFILE</h1>
    </div>
  </div>

  <div class="margin_60 container">
    <section>
      <div class="row">
        <div class="col-md-6">
          <h4>Your Profile</h4>
          <ul id="profile_summary">
            <li>Email <span>{{ profileData?.email }}</span></li>
            <li>First name <span>{{ profileData?.firstName }}</span></li>
            <li>Last name <span>{{ profileData?.lastName }}</span></li>
            <li>Phone number <span>{{ profileData?.phoneNumber }}</span></li>
            <li>Date of birth <span>{{ profileData?.birthdate }}</span></li>
            <li>Package <span>{{ profileData?.subscriptions }}</span></li>

          </ul>
        </div>
        <div class="col-md-6">
          <p>
            <img src="assets/img/profile.png" alt="Image" class="img-fluid styled profile_pic">
          </p>
        </div>
      </div>
      <!-- End row -->

      <div class="divider"></div>

      <div class="row">
        <div class="col-md-12">
          <h4>Edit Profile</h4>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>First Name</label>
            <input class="form-control" name="first_name" id="first_name" type="text">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" name="last_name" id="last_name" type="text">
          </div>
        </div>
      </div>
      <!-- End row -->

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Phone Number</label>
            <input class="form-control" name="email_2" id="email_2" type="text">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Date of birth <small>(dd/mm/yyyy)</small>
            </label>
            <input class="form-control" name="email" id="email" type="text">
          </div>
        </div>
      </div>
      <!-- End row -->

      <hr>
      <div class="row">
        <div class="col-md-12">
          <h4>Edit address</h4>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Street address</label>
            <input class="form-control" name="first_name" id="first_name" type="text">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>City/Town</label>
            <input class="form-control" name="last_name" id="last_name" type="text">
          </div>
        </div>
      </div>
      <!-- End row -->

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Zip code</label>
            <input class="form-control" name="email" id="email" type="text">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Country</label>
            <select id="country" class="form-select" name="country">
              <option value="">Select...</option>
            </select>
          </div>
        </div>
      </div>
      <!-- End row -->

      <hr>
      <h4>Upload profile photo</h4>
      <div class="form-inline upload_1">
        <div class="form-group">
          <input type="file" name="files[]" id="js-upload-files" multiple>
        </div>
        <button type="submit" class="btn_1 green" id="js-upload-submit">Upload file</button>
      </div>
      <!-- Drop Zone -->
      <h5>Or drag and drop files below</h5>
      <div class="upload-drop-zone" id="drop-zone">
        Just drag and drop files here
      </div>
      <!-- Progress Bar -->
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
             style="width: 60%;">
          <span class="sr-only">60% Complete</span>
        </div>
      </div>
      <!-- Upload Finished -->
      <div class="js-upload-finished">
        <h5>Processed files</h5>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
        </div>
      </div>
      <!-- End Hidden on mobiles -->

      <hr>
      <button type="submit" class="btn_1 green">Update Profile</button>
    </section>
  </div>
</main>
