<main>
  <section id="hero" class="login">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
          <div id="login">
            <div class="text-center">
              <img src="../../../../assets/img/logo_sticky.png" alt="Image" width="160" height="34">
            </div>
            <hr>
            <h4>Forget Password</h4>
            <form [formGroup]="forgetPasswordForm" (ngSubmit)="sendEmailButton()">

              <div class="form-group">
                <label for="email">Email</label>
                <input [class.is-valid]="!forgetPasswordForm.controls['email'].errors"
                       formControlName="email"
                       id="email"
                       class="form-control" placeholder="example@example.com" type="email"
                />
                <div
                  *ngIf="forgetPasswordForm.get('email')?.errors && (forgetPasswordForm.get('email')?.dirty || forgetPasswordForm.get('email')?.touched)">
                  <small class="form-text text-danger" *ngIf="forgetPasswordForm.get('email')?.hasError('required')">Email
                    is
                    required.
                  </small>
                  <small class="form-text text-danger" *ngIf="forgetPasswordForm.get('email')?.hasError('pattern')">
                    The format must be example@example.com.
                  </small>
                </div>
              </div>
              <button class="btn_full" type="submit" [disabled]="forgetPasswordForm.invalid">
                Send Email
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End main -->
