<main>
  <section id="hero" class="login">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
          <div id="login">
            <div class="text-center">
              <img src="../../../../assets/img/logo_sticky.png" alt="Image" width="160" height="34">
            </div>
            <hr>
            <h4>Verify Email</h4>
            <form [formGroup]="confirmEmailForm" (ngSubmit)="sendEmailButton()">

              <div class="form-group">
                <label for="code">Confirm Code</label>
                <input [class.is-valid]="!confirmEmailForm.controls['code'].errors"
                       formControlName="code"
                       id="code"
                       class="form-control" placeholder="Confirmation Code" type="text"
                />
                <div
                  *ngIf="confirmEmailForm.get('code')?.errors && (confirmEmailForm.get('code')?.dirty || confirmEmailForm.get('code')?.touched)">
                  <small class="form-text text-danger" *ngIf="confirmEmailForm.get('code')?.hasError('required')">Email
                    is
                    required.
                  </small>
                  <small class="form-text text-danger" *ngIf="confirmEmailForm.get('code')?.hasError('minlength')">
                    Invalid format, Code must be at least 10 characters
                  </small>
                  <small class="form-text text-danger" *ngIf="confirmEmailForm.get('code')?.hasError('maxlength')">
                    Invalid format, Code must not exceed 15 characters
                  </small>
                </div>
              </div>
              <button class="btn_full" type="submit" [disabled]="confirmEmailForm.invalid">
                Verify
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End main -->
