<!-- <div class="container">
    <div class="card" style="width: 70rem;">
        <div class="card-header">
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Count</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let packagee of packages;let currentIndex=index">
                        <td scope="row"> {{packagee.id}}</td>
                        <td> <a routerLink="/package/details/{{packagee.id}}">{{packagee.name}}</a> </td>
                        <td>{{packagee.propertyCount}} </td>
                        <td>{{packagee.price}} </td>
                        <td>{{ packagee.duration}} </td>
                        <td> <button (click)="delete(packagee.id)" class="btn btn-danger">DELETE</button></td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->


 <div class="strip_booking" *ngFor="let packagee of packages;let currentIndex=index">
    <div class="row">
        <div class="col-lg-2 col-md-2">

        </div>
            <div class="col-lg-6 col-md-5">

                <h3 class="hotel_booking"><a routerLink="/package/details/{{packagee.id}}">{{packagee.name}}</a><span>{{packagee.propertyCount}}</span></h3>
            </div>
            <div class="col-lg-2 col-md-3">
                <ul class="info_booking">
                    <li><strong>Price</strong> {{packagee.price}}</li>
                    <li><strong>Duration</strong> {{ packagee.duration}}  Day</li>
                    <li><strong>Subscribition</strong> {{ numbers[currentIndex]}} </li>
                     
                </ul>
            </div>
    
        <div class="col-lg-2 col-md-2">
            <div class="booking_buttons">
                <button (click)="delete(packagee.id)" class="btn_2">Delete</button>
            </div>
        </div>
    </div>
</div> 


<!-- 
<div class="container margin_60">
    <div class="row">
        <div class="col-lg-8">
            <table class="table table-striped cart-list add_bottom_30">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            Duration
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let packagee of packages;let currentIndex=index">
                        <td>
                            <span class="item_cart"><a routerLink="/package/details/{{packagee.id}}">{{packagee.name}}</a></span>
                        </td>
                        <td>
                                <strong>{{packagee.propertyCount}}</strong>
                        </td>
                        <td>
                            <strong>{{packagee.duration}}</strong>

                        </td>
                        <td>
                            <strong>{{packagee.price}}</strong>

                        </td>
                        <td class="options">
                            <a href="#"><i class=" icon-trash"></i></a><a href="#"><i class="icon-ccw-2"></i></a>
                        </td>
                    </tr>
                
                </tbody>
            </table>

           
        </div>



    </div>
</div>  -->



<div class="row" >
    <div class="col-lg-6 col-md-6">
        <div class="pricing-table black ">
            <div class="pricing-table-header">
                <span class="heading">Best Package</span>
            </div>
            <div class="pricing-table-space"></div>
            <div class="pricing-table-features">
                <p><strong>Name: </strong>{{package.name}}</p>
                <p><strong>Property Count: </strong> {{package.propertyCount}}</p>
                <p><strong>Duration</strong> {{package.duration}}</p>
                <p><strong>Price  </strong>{{package.price}}</p>
                <p><strong>Number Of Subscribtion  </strong>{{package.numberOfSubscriber}}</p>

            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="pricing-table black">
            <div class="pricing-table-header">
                <span class="heading">Number Of Packages</span>
                <span class="price-value"><span>{{numberOfPackages}}</span><span class="mo"></span></span>
            </div>
            <div class="pricing-table-space "></div>
         
            
        </div>
    </div>

    

   

</div> 