#submitBtn {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to bottom, #3498db, #2980b9);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2%;
}

#submitBtn:hover {
  background: linear-gradient(to bottom, #2980b9, #1f77b4);
}

#submitBtn:active {
  background: linear-gradient(to bottom, #1a69a1, #126497);
}
.margin_100 {
  padding-top: 120px;
  padding-bottom: 50px;
}

.input_file {
  padding-bottom: 4px;
}
/* add-property.component.css */

.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  /* Add styling for your spinner, e.g., CSS animation or image */
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
