<div class="strip_booking">
    <div class="row">
        <div class="col-lg-2 col-md-6">

        </div>
    </div>
</div>
<div class="strip_booking">
    <div class="row">
        <div class="col-lg-2 col-md-6">

        </div>
    </div>
</div>
<div class="strip_booking">
    <div class="row">
        <div class="col-lg-2 col-md-6">

        </div>
    </div>
</div>
<div class="strip_booking">
    <div class="row">
        <div class="col-lg-2 col-md-6">
           
        </div>
      
    </div>
</div>


 <div class="strip_booking" *ngFor="let packagee of packages;let currentIndex=index">
    <div class="row">
        <div class="col-lg-2 col-md-6">

        </div>
            <div class="col-lg-6 col-md-5">
                
                <h3 class="hotel_booking"><a>{{packagee.name}}</a><span>Propet Count: {{packagee.propertyCount}}</span></h3>
            </div>
            <div class="col-lg-2 col-md-3">
                <ul class="info_booking">
                    <li><strong>Price</strong> {{packagee.price}}</li>
                    <li><strong>Duration</strong> {{ packagee.duration}}  Day</li>
                    <li><strong>Subscribition</strong> {{ numbers[currentIndex]}} </li>
                     
                </ul>
            </div>
    
        <div class="col-lg-2 col-md-2">
            <div class="booking_buttons">
                <button (click)="delete(packagee.id)" class="btn_2">Delete</button>
            </div>
        </div>
    </div>
</div> 



