<main class="main">
    <section id="user_properties" class="container margin_60">

        <div class="strip_booking" *ngFor="let pending of pendingProperty;let
            currentIndex=index">
            <div routerLink="/property/details/{{pending.id}}" class="row">
                <div class="col-lg-2 col-md-6">

                </div>
                <div class="col-lg-6 col-md-5">

                    <h3 class="hotel_booking">id: {{pending.id}}</h3>
                </div>
                <div class="col-lg-2 col-md-3">
                    <ul class="info_booking">
                        <li><strong>Property State</strong>
                            {{pending.propertyState}}</li>

                    </ul>
                </div>

                <div class="col-lg-2 col-md-2">
                    <div class="booking_buttons">
                        <button (click)="accept(pending.id)" id="submitBtn" class="btn_2">Add Property</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="pendingProperty.length === 0">
            <div class="empty-list-message">
                <h2>No pending properties found</h2>
                <p>Waiting for new properties</p>
            </div>
        </div>
    </section>
</main>
