<main>
  <section id="hero" class="login">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
          <div id="login">
            <div class="text-center">
              <img src="../../../../assets/img/logo_sticky.png" alt="Image" width="160" height="34">
            </div>
            <hr>
            <h4>Update Password</h4>
            <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePasswordButton()">
              <div class="form-group">
                <label for="old-password">Old Password</label>
                <input [class.is-valid]="!updatePasswordForm.controls['oldPassword'].errors"
                       formControlName="oldPassword"
                       id="old-password"
                       class="form-control" placeholder="Old Password" type="password"
                />
                <div
                  *ngIf="updatePasswordForm.get('oldPassword')?.errors && (updatePasswordForm.get('oldPassword')?.dirty || updatePasswordForm.get('oldPassword')?.touched)">
                  <small class="form-text text-danger"
                         *ngIf="updatePasswordForm.get('oldPassword')?.hasError('required')">Password is required.
                  </small>
                  <small class="form-text text-danger"
                         *ngIf="updatePasswordForm.get('oldPassword')?.hasError('pattern')">Password must contain at
                    least one letter, one digit, and one special character.
                  </small>
                  <small class="form-text text-danger"
                         *ngIf="updatePasswordForm.get('oldPassword')?.hasError('maxlength')">Password must be at least
                    8 characters
                  </small>
                  <small class="form-text text-danger"
                         *ngIf="updatePasswordForm.get('oldPassword')?.hasError('minlength')">Password must not exceed
                    30 characters
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label for="new-password">New Password</label>
                <input [class.is-valid]="!updatePasswordForm.controls['newPassword'].errors"
                       formControlName="newPassword"
                       id="new-password"
                       class="form-control" placeholder="New Password" type="password"
                />
                <div
                  *ngIf="updatePasswordForm.get('newPassword')?.errors && (updatePasswordForm.get('newPassword')?.dirty || updatePasswordForm.get('newPassword')?.touched)">
                  <small class="form-text text-danger"
                         *ngIf="updatePasswordForm.get('newPassword')?.hasError('required')">Password is required.
                  </small>
                  <small class="form-text text-danger"
                         *ngIf="updatePasswordForm.get('newPassword')?.hasError('pattern')">Password must contain at
                    least one letter, one digit, and one special character.
                  </small>
                  <small class="form-text text-danger"
                         *ngIf="updatePasswordForm.get('newPassword')?.hasError('maxlength')">Password must be at least
                    8 characters
                  </small>
                  <small class="form-text text-danger"
                         *ngIf="updatePasswordForm.get('newPassword')?.hasError('minlength')">Password must not exceed
                    30 characters
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input [class.is-valid]="!updatePasswordForm.controls['confirmPassword'].errors"
                       formControlName="confirmPassword" id="confirm-password"
                       class="form-control" placeholder="Confirm Password" type="password"
                />
                <div
                  *ngIf="updatePasswordForm.get('confirmPassword')?.errors && (updatePasswordForm.get('confirmPassword')?.dirty || updatePasswordForm.get('confirmPassword')?.touched)">
                  <small class="form-text text-danger"
                         *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('required')">Password is
                    required.
                  </small>
                  <small class="form-text text-danger"
                         *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('matching')">Passwords do not
                    match.
                  </small>
                </div>
              </div>
              <div class="form-group">
                <a routerLink="/forget-password">Forgot password?</a>
              </div>
              <button class="btn_full" type="submit" [disabled]="updatePasswordForm.invalid">
                Update Password
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End main -->
