<footer id="pattern_3" class="revealed">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Need help?</h3>
        <a href="tel://+201552938027" id="phone">+2 015 51932027</a>
        <a href="mailto:airmak.home.rental@gmail.com" id="email_footer">airmak.home.rental@gmail.com</a>
      </div>
      <div class="col-md-3">
        <h3>About</h3>
        <ul>
          <li><a *ngIf="isSignInButtonVisible" routerLink="/login">Login</a></li>
          <li><a *ngIf="isSignInButtonVisible" routerLink="/user/register">Register</a></li>
          <li *ngIf="!isSignInButtonVisible && getRole==='USER'">
            <a routerLink="user/profile" class="fa-icon-user" id="profile_link">Profile</a>
          </li>
        </ul>
      </div>
    </div><!-- End row -->
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <p>© AirMAK 2023</p>
        </div>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
</footer><!-- End footer -->

<div id="toTop"></div><!-- Back to top button -->

<!-- Search Menu -->
<div class="search-overlay-menu">
  <span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
  <form role="search" id="searchform" method="get">
    <input value="" name="q" type="text" placeholder="Search..."/>
    <button type="submit"><i class="icon_set_1_icon-78"></i>
    </button>
  </form>
</div><!-- End Search Menu -->

<!-- Sign In Popup -->
<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
  <div class="small-dialog-header">
    <h3>Sign In</h3>
  </div>
  <!-- Your sign-in form here -->
</div>
<!-- /Sign In Popup -->

<script>
  HeaderVideo.init({
    container: $('.header-video'),
    header: $('.header-video--media'),
    videoTrigger: $("#video-trigger"),
    autoPlayVideo: false
  });
</script>
